.body{	
	opacity:2;
	align-items:center;
	justify-content:center;
	margin:0;
	padding:0;}
.shree{
	text-align:center;
	margin:0;
	margin-bottom:;
	padding:0;
	color:tomato;
	font-size:3vh;
	font-family:'Yatra One';
	background:cornsilk;
	position:relative;
	width:98vw;
	left:1%;
	text-shadow: .1vh .1vh  navy;}
#bg{
	top:0;
	padding:0;
	margin:0;
	position:fixed;
	z-index:-10;
	opacity:0.7;
	width:100vw;
	height:100vh;}
a{
	text-decoration:none}
.nav{
	color:white;
	float:left;
	list-style:none;
	margin-left:7px;
	padding:5px;;
	font-size:12px;
	font-family:'Tillana';}
#navbar{
	height:35px;
	width:96vw;
	left:2vw;
	position:relative;
	opacity:2;
	border:2px solid red;
	border-radius:20vh;}
#selected{
	color:black;
	padding:0;
	padding-top:3px;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:10px;
	position:relative;

	background: linear-gradient(45deg, rgba(240,242,1,0.901096148924394) 0%, rgba(250,139,0,0.8979439518668435) 50%, rgba(255,0,0,0.9026722366159612) 100%);	

	background-size:cover;
	border:1.5px solid red;
	border-radius:100vh;
	margin-top:1px;
	margin-bottom:1px;}
.myEduC{color:lime;font-family:'Rubik Glitch';background:black;}
#logo{
	left:35vw;
	position:relative;
	margin:10px;
	padding:0;
	margin-bottom:10px;
	justify-content:center;
	align-items:center;
	border-radius:50%;
	animation:logo-border 4s linear infinite;
	height:30vw;
	width:30vw;}
main{	
	position:relative;
	font-family:'Oswald';
	text-align:center;
	width:96vw;
	left:2vw;}
.abc{color:lime;font-family:'Tangerine';font-size:30px;opacity:.2;background:black}


footer{
	top:80px;
	float:left;
	position:relative;
	font-family:'Bungee','Tillana';
	width:100vw;
	text-align:center;}
footer .fa{font-size:3.3vmax;padding:.9vmax;margin:.5vmax;text-align:center;}
.fa-whatsapp{color:lime;}
.fa-facebook{color:blue;}
.fa-github{color:black;}
.fa-instagram{color:hotpink;}
.fa-envelope{ color:maroon;}
#social-media{;background:white;border-radius:50%;width:6vmax;height:6vmax;border:.3vmax solid #c6ccc8;}

#fixed/*whatsapp*/{
	position:fixed;
	font-size:7vh;
	right:3vw;bottom:3vh;background:black;border-radius:20%}

footer .fa-instagram:hover{animation: social-media-ig 1s}
footer .fa-facebook:hover{animation: social-media-fb 1s}
footer .fa-envelope:hover{animation: social-media-mail 1s}
footer .fa-whatsapp:hover{animation: social-media-wa 1s}
footer .fa-github:hover{animation: social-media-github 1s}


/*animations*/
@keyframes logo-border{
	0%{border:1vw solid red;}
	25%{border:1.5vw solid orangered;}
	50%{border:1vw solid cyan;}
	75%{border:1.5vw solid lime;}
	100%{border:1vw solid red;}}
@keyframes social-media-fb{
        100%{transform:rotate(360deg);background:blue;color:black;}}
@keyframes social-media-ig{
        100%{transform:rotate(360deg);background:hotpink;color:black}}
@keyframes social-media-mail{
        100%{transform:rotate(360deg);background:maroon;color:white;}}
@keyframes social-media-github{
        100%{transform:rotate(360deg);background:black;color:white;}}
@keyframes social-media-wa{
        100%{transform:rotate(360deg);background:lime;color:black;}}
