@import url('https://fonts.googleapis.com/css2?family=Tillana:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amita:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

.body{	
	opacity:2;
	align-items:center;
	justify-content:center;
	margin:0;
	padding:0;
}
.shree{	text-align:center;
	margin:0;
	color:tomato;
	font-size:20px;
	font-family:'Yatra One';
	background:cornsilk;
	position:relative;
	width:98vw;
	left:1%;
	text-shadow: .5px .5px .5px navy;}
.typewriter{
	text-align:right;
	position:relative;
	font-family:'Gotu';}
iframe{	
	height:70vh;
	width:80vw;
	position:relative;
	left:10vw;}

.myEduC{color:green;font-family:'Yatra One';background:black;}
#bg{position:absolute;z-index:-10;opacity:0.7;width:100vw;height:80vh}
