@import url('https://fonts.googleapis.com/css2?family=Tillana:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amita:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

.body{	
	opacity:2;
	align-items:center;
	justify-content:center;
	margin:0;
	padding:0;}
.shree{
	text-align:center;
	margin:0;
	color:tomato;
	font-size:20px;
	font-family:'Yatra One';
	background:cornsilk;
	position:relative;
	width:98vw;
	left:1%;
	text-shadow: .5px .5px .5px navy;}
#bg{
	position:absolute;
	z-index:-10;
	opacity:0.7;
	width:100vw;
	height:100vh;}
a{
	text-decoration:none}
.nav{
	color:white;
	float:left;
	list-style:none;
	margin-left:10px;
	padding:5px;
	font-size:12px;
	font-family:'Tillana';}
#navbar{
	height:35px;
	width:98vw;
	left:1vw;
	position:relative;
	opacity:2;
	border:2px solid red;
	border-radius:2vh;}
#selected{
	color:black;
	background:linear-gradient();
	background-size:cover;
	border:1px solid green;
	border-radius:100vh;}
#logo{
	left:19.1vh;
	position:relative;
	margin:10px;
	padding:0;
	margin-bottom:10px;
	justify-content:center;
	align-items:center;
	border-radius:50%;
	width:10vh;}
.typewriter{
	animation:k1n9 7s linear infinite;
	border-radius:5%;
        margin-top:60px;
        padding:40px;
        left:5vw;
	border:5px outset olive;
	box-shadow:1vh 1vh .5vh;
        opacity:2;
        width:90vw;
        text-align:center;
        position:relative;
        font-family:'Gotu';}
.myEduC{color:lime;font-family:'Rubik Glitch';background:black;}


/*animations*/
@keyframes k1n9{
        0%{background:#ff8080;border-radius:0%}
        12.5%{background:#ff8080;border-radius:15%}
        25%{background:#ff8533;border-radius:30%}
        37.5%{background:#ffff33;border-radius:45%}
        50%{background:#8cff66;border-radius:50%}
        62.5%{background:#3385ff;border-radius:45%}
        75%{background:#d580ff;border-radius:30%}
        88.5%{background:#bf00ff;border-radius:15%}
        100%{background:#ff8080;border-radius:0%}}
