@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
*{margin:0;padding:0}
.body{	justify-content:center;
	background: url("https://i.pinimg.com/originals/32/d7/6b/32d76bda14ee5e1dc93bdf36a6d2e46d.gif");
	background-size:cover;
	display:flex;
	flex-direction:column;
	height:95vh;
	width:100vw;
        align-items:center;}
#clock{
	position:relative;
	background:url("Clock.png") no-repeat;
	height:45vmax;
	width:45vmax;
	border-radius:50%;
	background-size:cover;}
#hour,#minute, #second{
	transform-origin:bottom;
	height:50%;
	opacity:1;
	width:5%;
	position:absolute;
	border-radius:60% 60% 5% 5%;}
#hour{
	left:48.5%;
	height:23%;
	background:tomato;
	top:26.8%;
	width:4%;}
#minute{
	background:navy;
	left:49.3%;
        height:29%;
        top:20.8%;
        width:2.5%;}
#second{
	background:lime;
	left:50%;
        height:35%;
        top:14.7%;
        width:1%;}
.shree{
        text-align:center;
        margin:0;
        padding:0;
        color:tomato;
        font-size:20px;
        font-family:'Yatra One';
        background:cornsilk;
	border-radius:2%;
        position:relative;
        text-shadow: .5px .5px .5px navy;}
